<div class="jumbotron">
  <div class="row" *ngFor="let hero of heroes">
    <div class="col-md-12" *ngIf="hero.payload.doc.id == this.id">
      <h1>Hero details</h1>
      <div>
        <img class="hero-avatar" src="../../assets/cat.png">
        <div class="form-group">
          <span>ID: {{hero.payload.doc.data().id}} </span>
        </div>
        <div class="form-group">
          <span>Name: {{hero.payload.doc.data().name}}</span>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>
</div>


