h1 {
  margin-bottom: 1em;
}

ul {
  column-count: 4;
  -moz-column-count: 4;
  -webkit-column-count: 4;
}

.heroes li {
  list-style-type: none;
}

.btn-primary{
  margin: 5px;
  padding: 10px;
  width: 250px;
  height: 45px;
  text-align: left;
  position: relative;
}

.hero-avatar
{
  position: absolute;
  right: 0.8em;
  top: 0.2em;
}
